/* nav bar*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6441A4;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

html {
  background-color: #302e2e;
  font-family: "Arial";
}

.info-container > div {
  background-color: black;
  font-family: "Arial";
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 15px;
  margin-left: 100px;
  margin-right: 100px;
  
}

.title-container > header {
  background-color: #6441A4;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  margin-left: 100px;
  margin-right: 100px;
  
}

.img-container > img {
  display: block;
  width: 50%;
  background-color: white;
  text-align: center;
  padding: 300px 0;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}
.comment-container > div {
  text-align: left;
  font-size: 30px;
	margin-left: 100px;
}
.comment-container > header {
  color:white;
  padding: 20px 0;
  font-size: 15px;
  margin-left: 100px;
  margin-right: 100px;
}
.comment-container > textarea {

  padding: 20px 0;
  width: 300px
  margin-left: 100px;
  margin-right: 100px;
}